@using Valour.Sdk.ModelLogic.QueryEngines
@inject ValourClient Client
@inject StaffService StaffService
@inject IStringLocalizer<StaffUserQueryTable> Localizer

<LanguageTrackProvider OnInitializeEvent="provider => provider.RegisterComponent(this)" />
<QueryTable 
    @ref="@_table"
    Columns="@_columns"
    Engine="@_engine"
    ShowSearch="@true"
    SearchPlaceholder=@Localizer["Search name..."]
    Infinite="@true"
/>

@code {
    [CascadingParameter]
    public ModalRoot ModalRoot { get; set; }

    private QueryTable<User> _table;

    private List<ColumnDefinition<User>> _columns;
    
    private string _nameSearch = string.Empty;

    private StaffUserQueryEngine _engine;

    protected override void OnInitialized()
    {
        _engine = new StaffUserQueryEngine(Client.PrimaryNode);
        
        _columns = new()
        {
            new ()
            {
                Name = Localizer["Card"],
                RenderFragment = (rowData) =>
                    @<UserInfoComponent User="@rowData.Row" ShowBadges="false" ShowState="false" />
            },
            new ()
            {
                Name = Localizer["Name"],
                RenderFragment = (rowData) =>
                    @<span>@rowData.Row.NameAndTag</span>
            },
            new ()
            {
                Name = Localizer["Actions"],
                RenderFragment = (rowData) =>
                    @<div class="button-row">
                        @if (rowData.Row.Disabled)
                        {
                            <button class="v-btn primary" @onclick="@(async () => await EnableUser(rowData.Row.Id))">@Localizer["Enable"]</button>
                        }
                        else
                        {
                            <button class="v-btn secondary" @onclick="@(async () => await DisableUser(rowData.Row.Id))">@Localizer["Disable"]</button>
                        }
                        
                        <button class="v-btn danger" @onclick="@(async () => await DeleteUser(rowData.Row))">@Localizer["Delete"]</button>
                    </div>
            }
        };
    }
    
    /* Staff Controls */
    
    public async Task DisableUser(long userId)
    {
        var toastData = new ProgressToastData<TaskResult>()
        {
            Title = Localizer["Disabling User"],
            SuccessMessage = Localizer["User has been disabled"],
            Message = Localizer["Waiting for result..."],
            ProgressTask = StaffService.SetUserDisabledAsync(userId, true)
        };
        
        var result = await ToastContainer.Instance.WaitToastWithTaskResult(toastData);

        if (result.Success)
        {
            await _table.Requery();
        }
    }
    
    private async Task EnableUser(long userId)
    {
        var toastData = new ProgressToastData<TaskResult>()
        {
            Title = Localizer["Enabling User"],
            SuccessMessage = Localizer["User has been enabled"],
            Message = Localizer["Waiting for result..."],
            ProgressTask = StaffService.SetUserDisabledAsync(userId, false)
        };
        
        var result = await ToastContainer.Instance.WaitToastWithTaskResult(toastData);

        if (result.Success)
        {
            await _table.Requery();
        }
    }
    
    public Task DeleteUser(User user)
    {
        ModalRoot.OpenModal<ConfirmModalComponent>(new ConfirmModalComponent.ModalParams()
        {
            Title = Localizer["Hard Delete {0}?", user.NameAndTag],
            Description = Localizer["This CANNOT be undone. Are you sure you want to delete this user?"],
            CancelText = Localizer["Cancel"],
            ConfirmText = Localizer["Delete"].ToString().ToUpperInvariant(),
            ConfirmEvent = async () =>
            {
                var toastData = new ProgressToastData<TaskResult>()
                {
                    Title = Localizer["Deleting User"],
                    SuccessMessage = Localizer["User has been deleted"],
                    Message = Localizer["Waiting for result..."],
                    ProgressTask = StaffService.DeleteUserAsync(user.Id)
                };
        
                var result = await ToastContainer.Instance.WaitToastWithTaskResult(toastData);

                if (result.Success)
                {
                    await _table.Requery();
                }
            }
        });

        return Task.CompletedTask;
    }
}